version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Inventory.Api/Dockerfile
    container_name: inventory_api
    depends_on:
      - sqlserver
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=InventoryDb;User=sa;Password=YourStrong!Pass123;TrustServerCertificate=True;
    ports:
      - "8080:8080"
    restart: always

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: inventory_sql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Pass123
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

volumes:
  sql_data:
